<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
<title>
Vervecomm Inc.
</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Vervecomm Inc. provides consulting services in RF design and prototyping" />
<meta name="keywords" content="radio frequency design, rf design, microwave design, rf consultant, antenna design, radio frequency consulting, rf antenna, antenna design consulting,
silicon valley RF consulting, radar hardware design" />

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="style.css" />
<script type="text/javascript" src="site.js"></script>
</head>

<body>

<div class="container">
     <div class="site-header">
     <h1><span style="color: white;">Vervecomm Incorporated</span></h1>
          </table>
          <nav class="navbar navbar-default vervecomm-navbar" role="navigation">
               <div class="collapse navbar-collapse">
                    <ul class="nav nav-pills">
                         <li><a href="/index">Home</a></li>
                         <li><a href="/capabilities">Capabilities</a></li>
                         <li><a href="/clients">Clients</a></li>
                         <li><a href="/flight-support">Flight Support</a></li>
                         <li><a href="/facilities">Facilities</a></li>
                         <li><a href="/contact">Contact Us</a></li>
                    </ul>
               </div>
          </nav>
     </div>

     <div class="site-content">
          {{{content}}}
     </div>

     <div class="site-footer">
          <address style="text-align:center; color:white; ">Vervecomm Inc., Los Altos, CA <br />
          Phone: 650-968-6609;&nbsp;Fax: 866-567-3736;&nbsp;
          Contact Us: <a href="mailto:jud@vervecomm.com"> Jud </a>
          </address>
     </div>
</div>

</body>
</html>
